@charset "utf-8";
header {
    text-align: center;
    display: relative;
    width: 100%;
}

.parallax {
    background-image: url('../img/elly20160701005919.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


.title1 {
    display: block;
    text-align: center;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 70px;
    width: 100%;
}

.title2 {
    display: block;
    text-align: center;
    position: absolute;
    top: 170px;
    width: 100%;
}

.title2 h2 {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
}


.title2 h2::before,
.title2 h2::after {
    display: block;
    flex: 1;
    content: '';
    border-top: 1px solid #ffffff;
    width: 20px;
}

.title2 h2::before {
    margin: 0 10px 0 40px;
}

.title2 h2::after {
    margin: 0 40px 0 10px;
}



.header__nav nav {
    background-color: hsla(208, 100%, 97%, 0.3);
    position: absolute;
    width: 80%;
    top: 50%;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}
.header__nav a{
    color:white;
}
.header__outer {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.scroll__hint {
    width: 1px;
    height: 50px;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}

.tip {
    width: 1px;
    height: 203px;
    position: absolute;
    left: 0;
    background-image: linear-gradient(180deg, #fff 2px, transparent 2px, transparent 4px, #fff 4px);
}

.header__scroll {
    display: inline-block;
    padding: 10px 40px;
    border: 1px solid aliceblue;
    color:white;
}
.common__section {
    margin: 80px auto 40px;
    position: relative;
    width: 100%;
    height: auto;
}

.commonh__heading {
    text-align: left;
    display: block;
    padding-left: 50px;
    line-height: 20px;
    position: relative;
    font-size: 24px;
    line-height: 20px;
}

.commonh__heading__label1 {
    font-size: 22px;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0);
}

.commonh__heading__label1::before {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #bdd4ff;
    position: absolute;
    left: 0;
    top: 10px;
}

.commonh__heading__label1 span {
    position: absolute;
    margin-left: 20px;
    width: auto;
    font-size: 12px;
    letter-spacing: 3px;
    color: #848689;
    display: inline-block;
    min-width: 24px;
}

.commonb__body {
    padding: 20px 20px 25px;
    position: relative;
}

.common__first__img {
    width: 100%;
    height: 200px;
}
[class^="profile__img"] {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bodyprofile {
    text-align: center;
}

.profile__unit * {
    display: inline-block;
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
}

.profile__label {
    background-color: #ff9494;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    width: 80px;
}

.profile__item {
    white-space: nowrap;
    width: 80px;
}

.profile__text {
    margin-top: 20px;
}

.profile__img1 {
    margin-right: 70px;
}

.profile__img2 {
    margin-left: 0px;
}
[class^="strength__round"] {
    border-radius: 50%;
    border: 1px solid;
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.strength__round__1 {
    border: 1px solid hsl(277, 36%, 51%);
}

.strength__round__2 {
    border: 1px solid hsl(0, 39%, 56%);
}

.strength__round__3 {
    border: 1px solid #568d65;
}

.strength__round__4 {
    border: 1px solid #ff8f30;
}

.strength__round__5 {
    border: 1px solid #9d996e;
}

.point__item {
    position: relative;
}

.point__heading {
    position: absolute;
    top: 10px;
    left: 6px;
    text-align: center;
    font-size: 18px;
}

.point__text {
    display: inline-block;
    position: absolute;
    line-height: 26px;
    margin-left: 10px;
}

[class^="workflow__"] {
    margin: 10px 0px;
}

[class^="workflow__item"] {
    margin: 20px 0px;

}
.skill__container {
    background-color: #ddd;
}

.skillbar {
    text-align: right;
    padding: 10px 0px;
    color: white;
}

.skillbar__title {
    text-align: left;
}

.padding10 {
    padding-right: 10px;
    color: white;
}

.html {
    width: 90%;
    background-color: hsl(307, 100%, 87%);
}

.css {
    width: 80%;
    background-color: hsl(129, 65%, 58%);
}

.sass {
    width: 60%;
    background-color: hsl(182, 97%, 61%);
    color: hsl(0, 0%, 33%);
}

.javascript {
    width: 60%;
    background-color: #ff8686;
}

.jquery {
    width: 60%;
    background-color: #ffff78;
    color: hsl(0, 0%, 33%);
}

.php {
    width: 50%;
    background-color: #8790ff;
}

.python {
    width: 30%;
    background-color: #fa75ff;
}

.xd {
    width: 80%;
    background-color: hsl(16, 100%, 70%);
}

.git {
    width: 30%;
    background-color: #6f7896;
}

.seo {
    width: 70%;
    background-color: #b2ac68;
}

.mysql {
    width: 50%;
    background-color: #95b2ff;
}

.java {
    width: 30%;
    background-color: #cf55e5;
}
footer {
    height: 100vh;
    position: relative;
}

.footer__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer__title h2 {
    color: white;
}

.footer__thank {
    font-size: 30px;
}

.footer__icon i {
    color: white;
}

.footer__contact {
    white-space: nowrap;
}
.fab,.fas{
    font-size:30px;
    margin:0 5px
}
.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    padding: 25px 0px;
    text-align: center;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
