@charset "utf-8";

[class^="all__"] {
    height: 100vh;
    display: table;
    width: 100%;
    background-image: linear-gradient(120deg, #5454f8, #ffffff);
}

header {
    text-align: center;
}

.title {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    color: aliceblue;
}

.header_title {
    display: table-cell;
    background-color: black;
}

.header__cherie {
    color: aliceblue;
    font-size: 80px;
    font-family: 'Cookie', cursive;
}

.header__portfolio {
    color: aliceblue;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-family: 'Cookie', cursive;
}

.header__portfolio::before,
.header__portfolio::after {
    display: block;
    flex: 1;
    content: '';
    border-top: 1px solid aliceblue;
}

.header__portfolio::before {
    margin-right: 30px;
}

.header__portfolio::after {
    margin-left: 10px;
}

[class^="profile__"] {
    margin-top: 10px;
}

.profile__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.common__section{
    margin:80px auto 40px;
    position:relative;
    width:100%;
    height:auto;
}

.commonh__heading{
    text-align:left;
    display:block;
    padding-left:50px;
    line-height:20px;
    position:relative;
    font-size:24px;
    line-height:20px;
}
.commonh__heading__label1{
    font-size:22px;
    font-weight:lighter;
}
.commonh__heading__label1::before{
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background-color: #bdd4ff;
    position: absolute;
    left: 0;
    top: 10px;
}

.commonh__heading__label1 span{
    position:absolute;
    margin-left:20px;
    width: auto;
    font-size: 12px;
    letter-spacing: 3px;
    color: #848689;
    display: inline-block;
    min-width: 24px;
}

.commonb__body{
    padding:10px 20px 25px;
}

.profile__title{
    
}

.profile__unit * {
    display: inline-block;
    width: 100px;
    height: 40px
}

.profile__label {
    background-color: aliceblue;
    text-align: center;
    line-height: 40px;
}

.profile__item {
    margin-left: 20px;
    white-space: nowrap;
}


footer {
    height: 100vh;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
    padding: 25px 0px;
    text-align: center;
    margin: 0px 10px;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
